    {%extends 'base.html'%}
    {%block title%}
        About
    {%endblock%}

    {%block tohen%}
    {{super()}}

    <h1>Profile Details</h1>
    <h1>
        {% for key, value in fullname.items() %}
            <h1>{{ key }} : {{value}} </h1>
        {% endfor %}
    </h1>
    <h2>University: {{University |default('unspecified',True) | lower()}}</h2>
    <h2>Degrees:</h2>
    <ol>
        {%for d in degress%}
            <li>{{d}}</li>
        {% endfor %}

    </ol>
    <h2>Hobbies:</h2>
    <ul>
        {%for hobby in hobbies%}
            <li>{{hobby}}</li>
        {% endfor %}
    </ul>
    {%endblock%}

